@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}


.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container__image img {
    width: 100%;
    height: 100%;
}

.container__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__title {
    color: #B52184;
    font-size: 32px;
    font-weight: 900;
    word-wrap: break-word;
    margin: 17px 0 5px 0;
}

.content__description {
    color: #312D64;
    font-size: 20px;
    font-weight: 600;
    word-wrap: break-word;
    margin: 0 0 35px 0;
}

.content__arrow-icon {
    margin: 0 0 93px 0;
}


.cards {
    background-color: #312D64;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 25px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 26px;
    background-color: white;
    border-radius: 20px;
}

.card--margin {
    margin: 49px 0;
}

.card__title {
    color: #B52184;
    font-size: 29.22px;
    font-weight: 900;
    word-wrap: break-word;
    margin-bottom: 20px;
}

.card__text {
    color: #312D64;
    font-size: 16.04px;
    font-weight: 600;
    word-wrap: break-word;
}

.card__image {
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
    margin-bottom: 33px;
}


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column__title {
    color: #B52184;
    font-size: 32px;
    font-weight: 900;
    word-wrap: break-word;
    margin: 78px 0 43px 0;
}

.form__input,
.form__submit {
    display: flex;
    width: 348px;
    padding: 12px 16px 12px 14px;
    align-items: center;
    gap: 12px;
    border-radius: 16px;
    border: 1.5px solid #312D64;
    margin: 0 0 24px 0;
    outline: none;
}

.form__submit {
    background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
    color: white;
    padding: 16px;
    width: fit-content;
    border-radius: 16px;
}

/* Footer styles */
.footer {
    background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
    padding: 16px;
}

.footer__content {
    text-align: center;
    color: #FFF;
    font-size: 19.381px;
    font-weight: 600;
}
.form__input--name {
    background-image: url('assets/person.svg'); /* caminho do ícone */
    background-repeat: no-repeat; /* Evita repetição do ícone */
    background-position: 10px center; /* Posiciona o ícone a 10px da borda esquerda e no centro verticalmente */
    padding-left: 40px!important; /* Dá espaço para o ícone + um pequeno espaço extra antes do texto começar */
}
.form__input--email {
    background-image: url('assets/at.svg');
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px!important;
}
.content__text{
    font-size: 19.381px;
    font-weight: 200;
}

.image-column__img {
    display: none;
}


@media (min-width: 758px) {
    .container {
        flex-direction: row-reverse;
        padding-bottom: 103px;
    }

    .container__content {
        margin-top: 300px;
        align-items: flex-start;
    }

    .content__title {
        font-size: 58.287px;
    }

    .content__description {
        font-size: 32px;
    }

    .container__image {
        width: 719.36px;
        height: 732.357px;
    }

    .container .content__arrow-icon {
        margin: 179px 0 0 0;
    }

    .cards {
        flex-direction: row;
        padding: 64px 111px;
        gap: 60px;
    }

    .card {
        padding: 32px;
    }

    .card__title {
        font-size: 35.302px;
    }

    .card__text {
        font-size: 19.381px;
    }

    .card__image {
        width: 97px;
        height: 97px;
        margin-bottom: 40px;
    }

    .card--margin {
        margin: 0 !important;
    }

    .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .contact__image img {
        width: 644px;
        height: 612px;
    }

    .form__input {
        width: 592px;
        padding: 12px 16px 12px 14px;
        align-items: center;
    }

    .form__submit {
        width: fit-content;
    }

    .form__message {
        height: 98px;
    }

    .contact__column {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-right: 20px;
        margin: 0px 109px 0 93px;
    }

    .column__title {
        font-size: 42px;
        font-weight: 900;
    }

    .contact__column--left {
        align-items: flex-start;
        margin-right: 92px;
    }

    .contact__column--right {
        display: block;
    }

    .contact__image-column {
        flex-shrink: 0;
    }

    .image-column__img {
        display: block !important;
        width: 644px;
        height: 612px;
    }
    
}
